img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;

}

.Hoverable-Image {

  border-radius: 50%;
  transition: 0.5s;
  padding: 0.75vh;
  border-radius: 50%;
  margin-top: 2vh;

}

.Hoverable-Image:hover {

  scale: 1.1;
  border-radius: 30px;
  box-shadow: 7px 7px 30px 1px #00b6eea4, -7px -7px 30px 1px #ff146e9e;
  
}

.Links-Tray {

  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 5.5vh;

}

.Link-Button {

  width: 5vh;
  height: 5vh;
  transition: 0.5s;
  border-radius: 50%;
  padding: 3.5vh;
  margin-left: 0.55vh;
  margin-right: 0.55vh;
  cursor: pointer;

}

.Link-Button[disabled] {

  opacity: 0.5;
  cursor: not-allowed;

}

.Link-Icon {
  
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 2.5vh;
  color: white;
  width: 4vh;
  height: 4vh;

}

